.tab_padding {
  padding: 40px 0;
}
.tab_background {
  background: #f2f2f2;
}
.top {
  background: #333;
  color: #fff;
  height: 40px;
  line-height: 40px;
}
.top h1 {
  line-height: 40px;
}
.top span {
  font-weight: bold;
  font-size: 0.16rem;
}
.tab1 {
  padding: 40px 0;
}
.i-project-title {
  border-left: 3px solid #eb0001;
  padding-left: 10px;
  margin-bottom: 20px;
}
.i-project-title h2 {
  line-height: 30px;
  font-size: 0.24rem;
}
.i-project-title h4 {
  line-height: 24px;
}
.tab2 h2 {
  font-size: 0.30rem;
  line-height: 30px;
  padding-bottom: 30px;
  background: url(../images/index_26.png) no-repeat center bottom;
}
.tab2 h4 {
  line-height: 30px;
  color: #666;
}
.tab3 .i-choose-title {
  margin: 0 auto 42px;
  height: 102px;
  background: url(../images/index_41.png) no-repeat center top;
}
.tab3 .i-choose-title h2 {
  font-size: 0.30rem;
  color: #fff;
  padding-top: 15px;
}
.tab3 .i-choose-title h4 {
  font-size: 0.18rem;
  font-family: 'itc_avant';
  color: #f79494;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
}
.tab3 .items-t .number {
  font-family: 'itc_avant';
  width: 37px;
  height: 99px;
  line-height: 36px;
  background: url(../images/index_59.jpg) no-repeat center;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.tab3 .items-t .para h3 {
  color: #eb0001;
  line-height: 30px;
}
