.banners {
  height: 307px;
}
.news-banner {
  background: url(../upload/kind/image/20160926/20160926182149_8894.jpg) no-repeat center;
}
.menu span {
  display: block;
  line-height: 66px;
}
.menu span a {
  display: block;
  height: 62px;
  border-top: 4px solid #fff;
  padding: 0 45px;
  font-size: 0.16rem;
  color: #333;
}
.menu span.active a {
  border-top: 4px solid #d41120;
  background-color: #f4f4f4;
  color: #e50012;
}
.media-border {
  border: 1px solid #d7d7d7;
}
.media-padding {
  padding: 20px 40px 20px 20px;
}
.media-margin {
  margin-bottom: 20px;
}
.list-text {
  padding: 55px 0 88px;
}
.news-content {
  margin-left: 18px;
  width: 80%;
}
.news-content h2 {
  font-size: 0.16rem;
  color: #333;
  line-height: 24px;
}
.news-content .line {
  width: 32px;
  height: 2px;
  background-color: #d7d7d7;
  margin: 10px 0 25px;
}
.news-time p {
  line-height: 20px;
  color: #999;
}
.news-right i {
  display: block;
  width: 27px;
  height: 27px;
  background: url(../images/news-ico.png) no-repeat 0 0;
  margin: 57px 0 0 32px;
}
